.chat-main{
    width: calc(100vw - 300px);
    float: left;
    height: 100%;
}

.main-header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
  &__left-box{
      margin-top: 35px;
    &__current-group{
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
        font-weight: normal;
    }
    &__member-list{
        font-size: 12px;
        color: #999999;
    }
  }
}

.main-header__edit-btn{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border: solid 1px #38aef0;
    position: absolute; top: 0;
    right: 40px;
    color: #38aef0;
    cursor: pointer;
    margin-top: 28px;
}

.messages{
    height: calc(100vh - 170px);
    padding: 46px 40px;
    background-color: #fafafa;
    box-sizing: border-box;
}

.message{
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
  &__upper-info{
      display: flex;
      margin-bottom: 10px;
    &__talker{
        font-size: 16px;
        font-weight: bold;
        color: #434a54;
    }
    &__date{
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
    }
  &__text{
      color: #434a54;
      font-size: 14px;
      margin-bottom: 10px;
  }
  }
}

.form{
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    box-sizing: border-box;
    width: calc(100vw - 300px);
    right: 0;
    bottom: 0;
  &__mask{

  }
  &__submit{
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
  }
}

.new_message{
    color: black;
    display: flex;
    height: 50px;
    width: 100%;
}


.imput__image{
    color: black;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

  .hidden{
        display: none;
}

  .icon{
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}

