.chat-side{
    width: 300px;
    color: white;
    float: left;
    margin: 0;
    padding: 0;
}

.side-header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
  &__box{
      display: flex;
      justify-content: space-between;
      width: 100vw;
      font-weight: bold;
      color: white;
    &__user-name{
        display: flex;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: block;
        font-weight: bold;
    }
    &__menu{
        margin: auto 0;
        cursor: pointer;
    }
      &__edit_user{
        margin-left: 0.3rem;
        display: list-item;
      }
      &__new-group{
        margin-left: 0.3rem;

      }
  }
}

.group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  &__box{
    padding: 20px;
    font-weight: bold;
    color: #FFFFFF;
    &__group-name{
          font-size: 15px;
          margin-bottom: 5px;
    }
    &__latest-message{
          font-size: 11px;
    }
  }
}

.chat-main{
    width: calc(100vw - 300px);
    float: left;
}

.main-header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
  &__left-box{
      margin-top: 35px;
    &__current-group{
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
        font-weight: normal;
    }
    &__member-list{
        font-size: 12px;
        color: #999999;
    }
  }
}

.main-header__edit-btn{
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border: solid 1px #38aef0;
    position: absolute; top: 0;
    right: 40px;
    color: #38aef0;
    cursor: pointer;
    margin-top: 28px;
}

.message-list{
    height: calc(100vh - 195px);
    padding: 46px 40px;
    background-color: #fafafa;
    box-sizing: border-box;
}

.message{
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
  &__upper-info{
      display: flex;
      margin-bottom: 10px;
    &__talker{
        font-size: 16px;
        font-weight: bold;
        color: #434a54;
    }
    &__date{
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
    }
  &__text{
      color: #434a54;
      font-size: 14px;
      margin-bottom: 10px;
  }
  }
}

.form{
    padding: 0px 40px;
    background-color: #ddd;
    box-sizing: border-box;
    width: calc(100vw - 300px);
    right: 0;
}
.new_message{
    color: #000;
    display: flex;
    padding: 20px;
}

.input-box{
    position: relative;
    width: 100vw;
    color: #000;
  &__text{
      height: 50px;
      width: 100%;
      padding: 10 40px 0 10px;
      color: #434a54;
      font-size: 16px;
      background-color: white;
      color: initial;
      text-indent: 10px;
  }
  &__image{
      font-size: 1.3rem;
      position: absolute; right: 10px;
      top: 10px;
      right: 10px;
      cursor: pointer;
    &__file{
        display: none;
    }
  }
}

.fa.fa-image.fa-lg{
  cursor: pointer;



}
.submit-btn{
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
}
